annotated-types==0.7.0
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
filelock==3.16.0
identify==2.6.0
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==1.26.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.2
pre-commit==3.8.0
pydantic==2.9.1
pydantic_core==2.23.3
PyYAML==6.0.2
tomli==2.0.1
typing_extensions==4.12.2
virtualenv==20.26.4
